.App {
  text-align: center;
}
.color-red{
  background-color: red;
}
.color-blue{
  background-color: rgb(43, 0, 255);
}
.color-green{
  background-color: rgb(0, 255, 64);
}
.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
}