body {
  background: #f8f8f8;
  padding: 40px;
  font-family:'Raleway';
}

.counter {
  width: 300px;
  margin: auto;
  background: #c0fe69;
  box-shadow: 0px 5px 0px #73ec7b;
  border-radius: 5px;
  color: rgb(253, 111, 111);
  padding: 20px;
  text-align: center;
}
.counter h1 {
  margin: 0;
  padding: 20px;
  font-size: 36px;
}
.counter button {
  background: #7efffb;
  border: 0;
  box-shadow: 0px 5px 0px #14e1f4;
  padding: 20px;
  margin: 10px 5px 0 5px;
  width: 45%;
  outline: none;
  border-radius: 3px;
  color: #a079fa;
  font-weight: bold;
  font-size: xx-large;
}