
div {
    background: aqua;
    width: 9%;
    height: 25rem;
}
button.\+ {
    position: absolute;
    left: 9rem;
    top: 0rem;
    width: 6rem;
    height: 12rem;
}
button.\- {
    position: absolute;
    left: 9rem;
    top: 13rem;
    width: 6rem;
    height: 12rem;
}